/out/
/release-pkg/
*.keystore
*.jks
*.idsig
*.part
local.properties
.signature-log
.idea/
.DS_Store
/node_modules/
/android/.gradle/
/android/build/
/android/app/build/
/android/app/src/main/assets/*.bundle
