<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodo121.s22updater"
    android:versionCode="11"
    android:versionName="4.7">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <queries>
        <package android:name="com.rifsxd.ksunext" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.tongfei.kerneldebug" />
        <package android:name="moe.shizuku.manager" />
    </queries>

    <application
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@drawable/ic_launcher"
        android:usesCleartextTraffic="false"
        android:allowBackup="false">
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />
        <provider
            android:name=".ApkProvider"
            android:authorities="com.bodo121.s22updater.updates"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.bodo121.s22updater.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
